.position-relative {
    position: relative;
  }
  
  .text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    text-align: center;
    background-color: rgb(49, 198, 139);
  }

  ul.row {
    justify-content: flex-end;
  }
  

  .position-relative {
    position: relative;
  }
  
  .position-relative {
    position: relative;
  }
  
